:root {
	--color: #ffffff;
	--border: #cdcdcd;
	--tono: 210;
	--lumi: 30%;
};

body { 
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	/*background-color: hsl(var(--tono), var(--lumi), 95%);*/
	background: var(--color);
}

html, body, div, h1, h2, h3, p, main, header, footer {
	box-sizing: border-box;
}

/* layout */
#page {
	display: grid;
	grid-template-columns: 240px auto;
	grid-template-rows: minmax(160px, auto) auto 30px;
	grid-gap: 10px;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}

nav {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
}

main {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}

a {
	text-decoration: none;
}

/* header */
header {
	padding: 8px;
	margin: 0;
	background-color: hsl(var(--tono), var(--lumi), 40%);
	color: white;

	display: grid;
	grid-template-columns: 500px 1fr;
	grid-template-rows: 150px;
}

/*@media (min-width: 500px) {
  header {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 150px 25px;
}
*/
header h1 {
	font-size: 40px;
	font-weight: 900;

	text-align: center;
	margin: 0;
	padding: 8px 0 0 0 ;
}

header h1 i {
	font-weight: 400;
}

header p {
	margin: 0;
	padding: 8px 0 16px;
}

header article {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: hsl(var(--tono), var(--lumi), 90%);
}

header article b {
	color: hsl(var(--tono), var(--lumi), 70%);

}

/*Menu */

nav {
	padding: 24px;
}

nav h1 {
	margin: 0;
	padding: 0;
	color: hsl(var(--tono), var(--lumi), 20%);
	font-weight: 600;
}

nav a, header a {
	color: hsl(var(--tono), var(--lumi), 20%);
	font-size: 18px;
	padding: 4xp;
}

nav div {
	padding: 4px;
}

nav a i {
	font-size: 14px;
	text-decoration: none;
}
.cuerpo {
}

.cuerpo > .titulo {
	font-size: 32px;
	font-weight: 500;
	color: hsl(var(--tono), var(--lumi), 60%);
	margin: 4px 0px 4px 8px;
}

.comercios {
	display: grid;
  	align-items: top;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	margin-bottom: 16px
}

.comercio {
	box-sizing: border-box;
	
	margin: 6px;
	padding: 8px;
	min-height: 120px;
	
	border-radius: 4px;
	background: var(--color);
	/*box-shadow: 4px 4px 8px #a4c3bc, -4px -4px 8px #d0f9f0;*/
	box-shadow: 0 0 2px var(--border);
}

.comercio > .titulo {
	font-size: 24px;
	font-weight: 800;
	color: hsl(var(--tono), var(--lumi), 30%);
}

.direccion {
	box-sizing: border-box;
	font-size: 20px;
	color: hsl(var(--tono), var(--lumi), 50%);
	margin-top: 4px;
}

.wp, .tl { 
	font-size: 16px;
	color: hsl(var(--tono), var(--lumi), 10%);;
   padding-left: 20px;    
   margin-bottom: 8px;
   background-color:red;
}


.tl { 
	background: url(../images/telefono-48.png)  0px 2px / 16px 16px  no-repeat;
}

.wp { 
	background: url(../images/whatsapp-48.png)  0px 2px / 16px 16px  no-repeat;
}
